.row
  .col-6
    = turbo_frame_tag 'show_test' do
      = render 'check/show_test'
  .col-6
    .form-group
      .label Test content
      .form-control{ style: "background-color: antiquewhite;" }
        %pre
          = @test_content
